target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
rebel.xml
/.idea
*.iml
.svn
.settings
node_modules
.mvn
/logs
/LOG_PATH_IS_UNDEFINED
*.orig
/@logging.path@